{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <br/>
    <div class="w-50 mx-auto">
        <h1>Edit Book</h1>
        <p>Fill the form to edit the book</p>
        {{ include('admin/book/_form.html.twig', {'button_label': 'Update'}) }}
        </br>
        <a class="btn btn-outline-dark" href="{{ path('app_admin_book_index') }}">Back to List</a>        
        {{ include('admin/book/_delete_form.html.twig') }}
    </div>    
    </br>

{% endblock %}
